[Desktop Entry]
Type=Application
Version=0.0.1
Name=PersoClient
Comment=Personalization Client
Exec=persoclient
Terminal=false
Categories=Development;
